<launch>
  <rosparam command="load" file="$(find gpd_simulation)/config/moveit_cpp.yaml" />

  <!-- requests graps and commands robot to move -->
  <node name="gpd_ur5" pkg="gpd_simulation" type="gpd_ur5" output="screen"/>

  <!-- gpd ros wrapper -->
  <!-- <include file ="$(find gpd_ros)/launch/gpd_wrapper.launch"/> -->

  <!-- load model into parameter server -->
  <param name="cracker_box_description" command="$(find xacro)/xacro '$(find gpd_simulation)/urdf/cracker_box.urdf.xacro'"/>

  <!-- spawn robot using urdf -->
  <node name="spawn_urdf_1" pkg="gazebo_ros" type="spawn_model"
    args="-param cracker_box_description -urdf -x 0.0 -y -0.5 -z 1.0194 -Y 2.094 -model cracker_box" respawn="false" output="screen"/>
</launch>
